// title: base css
// author: m@cl.ly

// section: defaults
// ----------------------------------------------
body {
  background: #fff;
  color: #262626;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    size: 12px;
  }
  padding: 48px 0;
}
// ----------------------------------------------

// section: header
// ----------------------------------------------
#header {
  margin: 0 0 24px 0;

  .wrapper {
    @include pie_clearfix;

    h1 {
      float: left;

      a {
        background: url(/images/logo.png) no-repeat;
        display: block;
        height: 30px;
        text-indent: -99999px;
        width: 170px;
      }
    }

    nav {
      float: right;

      ul {
        @include pie_clearfix;

        li {
          float: left;
          line-height: 30px;
          margin: 0 24px 0 0;

          a:link, a:visited {
            color: #262626;
            font: {
              size: 13px;
              weight: bold;
            }
            text-decoration: none;
          }

          a:hover, a:active {
            color: #195a9a;
          }

          &:last-child {
            @extend .no_right;
          }
        }
      }
    }
  }
}
// ----------------------------------------------

// section: content
// ----------------------------------------------
#content {
  .wrapper {
    @include pie_clearfix;

    #main {
      @include grid(28, 2);
    }

    #sidebar {
      @include grid(10, 0);

      ul {
        margin: 0 0 24px 0;
        padding: 0 0 0 24px;

        li {
          color: #565656;
          line-height: 14px;
          list-style-image: url(/images/sidebar_list_style_image.png);
          list-style-type: none;

          a:link, a:visited {
            color: #565656;
            font-weight: bold;
          }

          a:hover, a:active {
            color: #195a9a;
          }
        }
      }
    }
  }
}
// ----------------------------------------------

// section: footer
// ----------------------------------------------
#footer {
  .wrapper {
    border-top: 1px solid #e5e5e5;
    padding: 12px 0 0 0;
    @include pie_clearfix;

    ul {
      @include pie_clearfix;

      li {
        border-right: 1px solid #e5e5e5;
        float: left;
        margin: 0 12px 0 0;
        padding: 0 12px 0 0;

        &:last-child {
          @extend .reset_all;
        }

        a:link, a:visited {
          color: #262626;
          font: {
            weight: bold;
          }
          text-decoration: none;
        }

        a:hover, a:active {
          color: #195a9a;
        }
      }
    }
  }
}
// ----------------------------------------------
