// title: base css
// author: m@cl.ly

// section: defaults
// ----------------------------------------------
body {
  background: #fff;
  color: #222;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    size: 12px;
  }

  // section: headers
  // ----------------------------------------------
  h2 {

  }
  // ----------------------------------------------

  // section: links
  // ----------------------------------------------
  a:link, a:visited {
    color: #195a9a;
    text-decoration: none;
    @include transition-duration(.2s);
    @include transition-property(color);
  }

  a:hover, a:active {
    color: #d10000;
  }
  // ----------------------------------------------
}
// ----------------------------------------------

// section: header
// ----------------------------------------------
#header {

}
// ----------------------------------------------

// section: content
// ----------------------------------------------
#content {

}
// ----------------------------------------------

// section: footer
// ----------------------------------------------
#footer {

}
// ----------------------------------------------
