// title: base css
// author: m@cl.ly

// section: defaults
// ----------------------------------------------
body {
  background: #fff;
  color: #262626;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    size: 12px;
  }
}
// ----------------------------------------------

// wiki style
// ----------------------------------------------
.wikistyle {
  color: #838383;
  font: {
    size: 13px;
  }

  h1, h2, h3 {
    color: #262626;
  }

  h1 {
    font: {
      size: 24px;
    }
    margin: 0 0 18px 0;
  }

  h2 {
    font: {
      size: 20px;
    }
    margin: 0 0 18px 0;
  }

  h3 {
    font: {
      size: 16px;
    }
    margin: 0 0 12px 0;
  }

  a:link, a:visited {
    color: #195a9a;
    text-decoration: none;
    @include transition-duration(.2s);
    @include transition-property(color);
  }

  a:hover, a:active {
    color: #d10000;
  }

  p {
    line-height: 20px;
    margin: 0 0 24px 0;

    code {
      background: #f0f6fc;
      border: 1px solid #d2dce6;
      color: #444;
      font: {
        family: Monaco, monospace;
        size: 12px;
      }
      padding: 0 2px;
      white-space: nowrap;
    }
  }

  ul {
    margin: 0 0 24px 0;
    padding: 0 0 0 24px;

    li {
      list-style: disc;
      margin: 0 0 12px 0;
    }
  }

  ol {
    margin: 0 0 24px 0;
    padding: 0 0 0 24px;

    li {
      list-style: decimal;
      margin: 0 0 12px 0;
    }
  }

  pre {
    background: #f0f6fc;
    border: 1px solid #d2dce6;
    margin: 0 0 24px 0;
    padding: 8px;

    code {
      color: #444;
      font: {
        family: Monaco, monospace;
        size: 12px;
      }
      line-height: 18px;
    }
  }

  blockquote {
    border-left: 3px solid #d2dce6;
    font-style: italic;
    margin: 0 0 24px 0;
    padding: 0 0 0 24px;
  }
}
// ----------------------------------------------

// section: header
// ----------------------------------------------
#header {
  margin: 0 0 24px 0;
}
// ----------------------------------------------

// section: content
// ----------------------------------------------
#content {
  @include pie-clearfix;

  #main {
    @include grid(28, 2);
  }

  #sidebar {
    @include grid(10, 0);

    ul {
      margin: 0 0 24px 0;
      padding: 0 0 0 24px;

      li {
        color: #565656;
        line-height: 18px;
        list-style-image: url(/images/sidebar_list_style_image.png);
        list-style-type: none;

        a:link, a:visited {
          color: #565656;
          font-weight: bold;
        }

        a:hover, a:active {
          color: #195a9a;
        }
      }
    }
  }
}
// ----------------------------------------------

// section: footer
// ----------------------------------------------
#footer {
  .wrapper {
    border-top: 1px solid #e5e5e5;
    padding: 12px 0 0 0;
    @include pie-clearfix;

    ul {
      @include pie-clearfix;

      li {
        border-right: 1px solid #e5e5e5;
        float: left;
        margin: 0 12px 0 0;
        padding: 0 12px 0 0;

        &:last-child {
          @extend .reset_all;
        }

        a:link, a:visited {
          color: #262626;
          font: {
            weight: bold;
          }
          text-decoration: none;
        }

        a:hover, a:active {
          color: #195a9a;
        }
      }
    }
  }
}
// ----------------------------------------------
