// title: wikistyle css
// author: m@cl.ly

// wiki style
// ----------------------------------------------
.wikistyle {
  color: #838383;
  font: {
    size: 13px;
  }

  h1, h2, h3 {
    color: #262626;
  }

  h1 {
    font: {
      size: 24px;
    }
    margin: 0 0 18px 0;
  }

  h2 {
    font: {
      size: 20px;
    }
    margin: 0 0 18px 0;
  }

  h3 {
    font: {
      size: 16px;
    }
    margin: 0 0 12px 0;
  }

  a:link, a:visited {
    color: #195a9a;
    text-decoration: none;
    @include transition-duration(.2s);
    @include transition-property(color);
  }

  a:hover, a:active {
    color: #d10000;
  }

  p {
    line-height: 20px;
    margin: 0 0 24px 0;

    code {
      background: #f0f6fc;
      border: 1px solid #d2dce6;
      color: #444;
      font: {
        family: Monaco, monospace;
        size: 12px;
      }
      padding: 0 2px;
      white-space: nowrap;
    }
  }

  ul, ol {
    margin: 0 0 24px 0;
    padding: 0 0 0 24px;

    li {
      line-height: 20px;
      margin: 0 0 12px 0;
    }
  }

  ul {
    li {
      list-style: disc;
    }
  }

  ol {
    li {
      list-style: decimal;
    }
  }

  pre {
    background: #f0f6fc;
    border: 1px solid #d2dce6;
    margin: 0 0 24px 0;
    padding: 8px;

    code {
      color: #444;
      font: {
        family: Monaco, monospace;
        size: 12px;
      }
      line-height: 18px;
    }
  }

  blockquote {
    border-left: 3px solid #d2dce6;
    font-style: italic;
    margin: 0 0 24px 0;
    padding: 0 0 0 24px;
  }
}
// ----------------------------------------------
