---
sidebar_cats:
- category_one
- category_two
---

<!DOCTYPE html>
<html lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>Site Name - {{ page.title }}</title>

    <meta charset='utf-8' />
    <meta content='' name='keywords' />
    <meta content='' name='description' />

    <link href='/stylesheets/screen.css' media="screen" rel='stylesheet' type='text/css' />
  </head>

  <body>
    <header id="header">
      <div class="wrapper">
        <h1><a href="/">Hello World</a></h1>

        <nav>
          <ul>
            <li><a href="#">Main Link 1</a></li>
            <li><a href="#">Main Link 2</a></li>
            <li><a href="#">Main Link 3</a></li>
            <li><a href="#">Main Link 4</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="wikistyle" id="content">
      <div class="wrapper">
        <h1>{{ page.title }}</h1>

        <section id="main">
          {{ content }}
        </section>

        <aside id="sidebar">
          {% for cat in (page.sidebar_cats) %}
            <h3>{{ cat | replace:'_',' ' | capitalize }}</h3>

            <ul>
              {% for post in site.posts reversed %}
                {% if post.categories contains cat %}
                  {% if page.title == post.title %}
                    <li>{{ page.title }}</li>
                  {% else %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </ul>
          {% endfor %}
        </aside>
      </div>
    </section>

    <footer id="footer">
      <div class="wrapper">
        <ul class="left">
          <li>&copy;{{ site.time | date: "%Y" }} My Awesome Company</li>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>

        <ul class="right">
          <li><a href="#">Additional Link</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
